<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title></title>
</head>
<body>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <span class="text-muted">Contact us</span>
                <br>
                <span class="text-muted">by email: our.email@gmail.com</span>
                <br>
                <span class="text-muted">by phone: +489764443341</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>