<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My homework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<nav th:insert="_header :: nav"></nav>

<body>
    <div class="container">
        <div class="row justify-content-center mt-2">
            <th:block th:if="${session.user.role==T(by.tms.schoolmanagementsystem.entity.role.Role).Student}">
                    <div class="col-sm-7">
                        <ul class="list-group">
                            <li class="list-group-item" th:each="item : ${homework}">
                                <h4 th:text="${item.lesson.name}"></h4>
                                <h5 th:text="${item.name}"></h5>
                                <h6 th:text="${item.deadline}"></h6>
                                <p th:text="${item.description}"></p>
                            </li>
                        </ul>
                    </div>
            </th:block>
            <th:block th:unless="${session.user.role==T(by.tms.schoolmanagementsystem.entity.role.Role).Student}">
                <div class="col-sm-5" th:insert="_no_data :: div"></div>
            </th:block>

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>