<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<nav th:insert="_header :: nav"></nav>

<body class="background">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 mt-2">
            <div class="row" th:each="component : ${homeworkAndMarks}">
                <div th:if="${component.marks.size()!=0}" class="col-sm-12 mb-1">
                    <a class="btn btn-primary" data-bs-toggle="collapse" th:href="'#'+'collapseExample'+${component.homework.id}"
                       role="button" aria-expanded="false" aria-controls="collapseExample" th:text="${component.homework.name}" style="width: 100%; background-color: darkgoldenrod; border-width: 0">
                    </a>
                    <div class="collapse" th:id="collapseExample+${component.homework.id}">
                        <div class="card card-body">
                            <div class="row">
                                <form action="#" th:action="@{'/teacher/marks/'+${component.homework.id}}" method="post">
                                    <div class="card card-body" th:each="mark : ${component.marks}">
                                        <div class="row justify-content-between">
                                            <div class="col-sm-4">
                                                <span th:text="${mark.user.name}"></span>
                                            </div>
                                            <div class="col-sm-1 me-4" >
                                                <input type="number" th:value="${mark.id}" hidden th:name="marksIds">
                                                <input type="number" style="width: 50px;" th:value="${mark.value}" th:name="values">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end mb-0">
                                        <div class="col-sm-2 mt-1 mb-1">
                                            <button type="submit" style="margin-left: 20px">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>